/* Generic */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --main-red: #D10024;
    --main-grey: #e4e7ed;
    --link-color: #2B2D42;
    --grey-two: #8d998d;
    --twelve-px: 0.75rem;
    --fourteen-px: 0.875rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

section {
    padding: 40px 0;
}

.link-underline {
    transition: 0.15s color;
}

.link-underline::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--main-red);
    transition: 0.2s all;
}

.link-underline:hover::after, .link-underline:active::after,
.link-underline:focus::after {
    width: 100%;
}

.active .link-underline, 
.active .link-underline::after {
    color: var(--main-red);
    width: 100%;
}

.link-hov-red {
    transition: 0.05s all;
}

.link-hov-red:hover,
.link-hov-red:active,
.link-hov-red:focus  {
    color: var(--main-red);
}


/* info-bar */
.info-bar {
    background-color: #1E1F29;
    font-size: 0.6rem;
    color: #eee;
}

.info-bar .list-inline-item:not(:last-child) {
    margin-right: 0.7rem;
}


.info-bar-links {
    color: inherit;
    text-decoration: none;
    transition: color 0.15s;
}

.info-bar-links:hover {
    color: var(--main-red);
}

.info-icons {
    fill: var(--main-red);
    width: var(--twelve-px);
    height: var(--twelve-px);
    transform: translateY(-1px);
    margin-right: 0.05rem;
}

@media screen and (min-width: 480px) {
    .info-bar {
        font-size: 0.8rem
    }

    .info-bar .list-inline-item:not(:last-child) {
        margin-right: 0.8rem;
    }

    .info-icons {
        width: 0.8rem;
        height: 0.8rem;
        margin-right: 0.1rem;
    }
}

/* navbar */
.navbar {
    border-bottom: 3px solid var(--main-red);
}

.bg-nav {
    background-color: #15161d;
}

.btn-addon1 {
    background: #fff;
    border-right: 2px solid #eed;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    padding: 0 1.2rem;
    font-size: 14px;
}

#btn-addon2 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 0 1.2rem;
    font-size: 14px;
    font-weight: bold;
}

.header-ctn {
    text-align: center;
    padding: 0.5rem 0;
}

.item {
    text-align: center;
    margin: 0 3px;
    vertical-align: top;
    display: inline-block;
    width: 90px;
}

.icon-nav {
    text-align: center;
    width: 1.3rem;
    height: 1.3rem;
    fill: #fff;
    margin-bottom: 1px;
}

.caption {
    display: block;
    font-size: 0.7rem;
    color: #fff;
}

@media screen and (min-width: 576px) {
    .header-ctn {
        width: 90%;
    }

    .item {
        margin: 0 5px;
    }
}

/* sidebar */
.offcanvas-lg {
    max-width: 250px;
    background-color: #15161d;
    padding-top: 3rem;
    font-size: 14px;
}

.sidebar-link {
    display: block;
    color: #fff;
    font-weight: 500;
    padding: 0.85rem 0.2rem ;
    text-decoration: none;
}


@media screen and (min-width: 992px) {
    .offcanvas-lg {
        max-width: 100%;
        padding: 0 3rem;
        border-bottom: 2px solid var(--main-grey);
    }
    .sidebar-list {
        display: flex;
        margin: 0;
    }

    .sidebar-link {
        color: var(--link-color);
        padding: 1.25rem 0;
    }

    .sidebar-list>li {
        margin: 0 1rem;
    }

}

/* Collections */

.shop {
    position: relative; 
    overflow: hidden;
}

.shop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    clip-path: polygon(0 0, 94% 0, 28% 100%, 0 100%);
    background-color: var(--main-red);
    opacity: 0.9;
    z-index: 8;
}

.shop-img {
    background-color: var(--main-grey);
    z-index: -1;
    transition: transform 0.15s;
}

.shop-body {
    position: absolute;
    top: 0;
    left: 0;
    color: #faf6f6;
    z-index: 9;
    padding: 30px;
}

.shop-link {
    color: inherit;
    text-decoration: none;
    font-size: var(--fourteen-px);
}

.shop-icon {
    width: var(--twelve-px);
    height: var(--fourteen-px);
    transform: translateY(-1px);
    fill: #faf6f6;
}

.shop:hover .shop-img {
    transform: scale(1.15);
}

.shop:hover .shop-body,
.shop:hover .shop-link,
.shop:hover .shop-icon {
    color: #fff;
    fill: #fff;
}

@media screen and (min-width: 450px) and (max-width: 576px) {
    .collections .col-11 {
        /* col-9 */
        flex: 0 0 auto;
        width: 75%;
    }
}

/* New products */
.new-link {
    font-size: var(--fourteen-px);
    text-decoration: none;
    color: var(--grey-two);
    font-weight: bold;
}

.new-link:hover {
    color: var(--grey-two);
} 

.new-heading {
    color: var(--link-color);
    font-weight: bold;
}

/* card */
.card-product {
    border-radius: 0;
    transition: border 0.05s;
}

.card-product:hover, 
.card-product:focus {
    border: 2px solid var(--main-red);
}

.category {
    font-size: var(--twelve-px);
    color: #8d99ae;
}

.product-name  {
    font-size: var(--fourteen-px);
}

.card-link {
    text-decoration: none;
    color: var(--link-color);
    font-weight: bold;
}

.new-price {
    font-size: 1.125rem;
    color: var(--main-red);
    font-weight: bold;
}

.old-price {
    font-size: 0.8rem;
    text-decoration: line-through;
    color: var(--grey-two);
}

.product-rating {
    position: relative;
    font-size: var(--fourteen-px);
    color: var(--main-red);
}

.product-rating>.fa-star {
    position: relative;
    z-index: 10;
    margin: -3px;
}

.product-rating::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background-color: var(--main-grey);
}

.product-btn {
    background: #fff;
    border: 0;
    width: 40px;
    height: 40px;
    margin: 1px 6px;
    border-radius: 100%;
    transition: all 0.15s ease-in;
}

.product-btn:hover,
.product-btn:active {
    background-color: #f0f0f0;
    color: var(--main-red);
}